/*.nav-container {
    display: flex;
}*/
.flex-menu {
    display: flex;
    /*flex-basis: content;    ??????????????*/
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
/*    border: 1px solid red;*/
 }

.flex-menu .menu {
    display: flex;
/*    padding: 0px 10px;*/
    align-items: center;
    justify-content: center;

/*    border: 2px solid white;*/
}
.flex-menu .menu p:hover {
 background: radial-gradient(#5fe9e4,#0c7e74);
 cursor: pointer;
 color: white;
 font: bold;
 border-radius: 10px;
}


.main-container {
    display: flex;
    /*flex-basis: content;    ??????????????*/
    justify-content: center;
    align-self: center;
    padding: 0px;
    margin: 5px;
    flex-wrap: wrap;
 /*   background: repeat-x url("images/123.jpg");*/
    background: yellowgreen;
 }



.box img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



