/*body {
    background: rgb(8, 97, 97);   
}*/
#grid-container {
    display:grid;
    max-width: 800px;
    margin: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px 70px 3fr 2fr 50px;
 /*   outline: 5px solid rgb(214, 24, 173);
    background: rgb(12, 190, 36);*/
}
.head-container {
    grid-column: 1/6;
    grid-row: 1/2; 
    display: grid; 
    justify-items: center;
    align-self: center;
}
.nav-container {
    grid-column: 1/6;
    grid-row: 2/3;
    display: grid; 
    justify-items: center;
    align-self: center;
}
.main-container {
    grid-column: 1/5;
    grid-row: 3/5;
}
.aside1-container {
    grid-column: 5/6;
    grid-row: 3/4;
}
.aside2-container {
    grid-column: 5/6;
    grid-row: 4/5;
}
.footer-container {
    grid-column: 1/6;
    grid-row: 5/6;
    display: grid; 
    justify-items: flex-end;
    align-self: center;
}
