body {
 /* box-sizing: border-box;
  background: crimson;*/
}

.background {
    background: #077070;
    margin: 5px;
 /*   padding: 5px 15px;*/
    border: 2px solid #179af1;
    border-radius: 5px;
}
header, footer {
    color: #c9c508;
    margin-top: 50px;
}
img {
    margin: 5px;
    border: 1px solid #70dbdf;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 10px 5px 5px #06728d;
}
.menu p {
    color:rgb(244, 248, 21);
 /*   border: 1px solid black;   */   
}
.flex-menu .menu p{
    padding: 0px 10px;
}
.footer-container p{
    padding-right: 20px;
}
.box {
    padding: 15px;
}

