.background {
    background: #077070;
    margin: 5px;
 /*   padding: 5px 15px;*/
    border: 2px solid #b7d609;
    border-radius: 5px;
}
header, footer {
    color: #c9c508;
    text-align: center;
}
img {
    margin: 5px;
    border: 1px solid #70dbdf;
    border-radius: 0px 20px 0px 20px;
}
.menu a {
    color:yellowgreen;
    text-decoration: none;
}